<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Oswald:300,400,600"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Favorite directors - Silver Screen Society</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/favorites-directors-styles.css" />
  </head>

  <body>
    <nav>
      <div class="container">
        <img class="logo" src="../assets/img/logo.png" alt="logo" />
        <form class="search">
          <input type="text" placeholder="Search movies or directors" />
          <button type="submit">
            <span class="material-symbols-outlined"> search </span>
          </button>
        </form>
        <div class="menu">
          <a href="#" class="movies-page">Movies</a>
            <a href="#" class="directors-page">Directors</a>
            <a href="#" class="watchlist-page">Watchlist</a>
            <a href="#" class="favorites-movies-page">Favorites</a>
          <a href="#" class="register-page">Register</a>
          <a href="#" class="login-page">Sign in</a>
        </div>

        <button class="hamburger">
          <span></span><span></span><span></span>
        </button>
      </div>
    </nav>
    <div class="mobile-menu">
      
      <a href="#" class="movies-page-mobile">Movies</a>
        <a href="#" class="directors-page-mobile">Directors</a>
        <a href="#" class="watchlist-page-mobile">Watchlist</a>
        <a href="#" class="favorites-movies-page-mobile">Favorites</a>
      <a href="#" class="register-page-mobile">Register</a>
      <a href="#" class="login-page-mobile">Sign in</a>
      <form class="mobile-search">
        <input type="text" placeholder="Search movies or directors"/>
        <button type="submit">
          <span class="material-symbols-outlined"> search </span>
        </button>
      </form>
  </div>
    <div class="top-part">
      <img class="top-pic" src="../assets/img/fav.jpg" alt="top-pic" />
      <h1 class="slogan">Favorites</h1>
      <div class="all">
        <h2 class="all-movies" onclick="window.location.href='favorites-movies.html'"><a href="#">All Movies</a></h2>
        <h2 class="all-directors"><a href="#">All Directors</a></h2>
      </div>
    </div>
    <div class="grid">
      <div class="large-card">
        <div class="movie-image kubrick">
          <img src="../assets/img/kurbrick.jpg" />
        </div>
        <div class="info">
          <h1 class="title">Stanley Kubrick</h1>
          <p>July 26, 1928 - March 7, 1999 (70)</p>
          <p>Stanley Kubrick was an American film director, producer and screenwriter. Widely considered one of the greatest filmmakers of all time, his films—almost all of which are adaptations of novels or short stories—cover a wide 
            range of genres and feature innovative cinematography, dark humor, realistic attention to detail and extensive set designs.</p>
          <p>2001: A Space Odyssey, Barry Lindon, A Clockwork Orange, Full Metal Jacket,
            Eyes Wide Shut, The Shining</p>
        </div>
        <div class="for-button">
          <button type="button" class="add-favorites">
            <span class="material-symbols-outlined">  </span> Favorite
          </button>
        </div>
      </div>
      
    </div>
    <div class="get-top">
      <button class="get-started" type="button">Get Started</button>
      <span class="back-to-top"><a href="#">Back to Top</a></span>
    </div>
    <footer>
      <div class="footer-container">
        <img src="../assets/img/Text.png" class="logo-text" />
        <img src="../assets/img/Footer Logo.png" class="footer-logo" />
        <div class="icons">
          <a href="https://www.facebook.com/edin.e.bajric/" target="_blank"
            ><img src="../assets/img/facebook-fill.png" class="facebook"
          /></a>

          <a href="https://www.instagram.com/pacdoe/" target="_blank">
            <img src="../assets/img/instagram-fill.png" class="instagram" /></a
          ><a
            href="https://www.linkedin.com/in/edin-bajri%C4%87-1a3493269/"
            target="_blank"
            ><img src="../assets/img/linkedin-box-fill.png" class="linkedin"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
<script src="../assets/js/index.js"></script>
