<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Oswald:300,400,600"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Stanley Kubrick - Silver Screen Society</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../assets/css/single-director-page-styles.css"
    />
  </head>

  <body>
    <nav>
      <div class="container">
        <img class="logo" src="../assets/img/logo.png" alt="logo" />
        <form class="search">
          <input type="text" placeholder="Search movies or directors" />
          <button type="submit">
            <span class="material-symbols-outlined"> search </span>
          </button>
        </form>
        <div class="menu">
          <a href="#" class="movies-page">Movies</a>
          <a href="#" class="directors-page">Directors</a>
          <a href="#" class="watchlist-page">Watchlist</a>
          <a href="#" class="favorites-movies-page">Favorites</a>
          <a href="#" class="register-page">Register</a>
          <a href="#" class="login-page">Sign in</a>
        </div>

        <button class="hamburger">
          <span></span><span></span><span></span>
        </button>
      </div>
    </nav>
    <div class="mobile-menu">
      <a href="#" class="movies-page-mobile">Movies</a>
      <a href="#" class="directors-page-mobile">Directors</a>
      <a href="#" class="watchlist-page-mobile">Watchlist</a>
      <a href="#" class="favorites-movies-page-mobile">Favorites</a>
      <a href="#" class="register-page-mobile">Register</a>
      <a href="#" class="login-page-mobile">Sign in</a>
      <form class="mobile-search">
        <input type="text" placeholder="Search movies or directors" />
        <button type="submit">
          <span class="material-symbols-outlined"> search </span>
        </button>
      </form>
    </div>
    <div class="top-part">
      <img
        class="top-pic"
        src="../assets/img/kubrick-title-pic.jpg"
        alt="top-pic"
      />
      <h1 class="slogan">Stanley Kubrick</h1>
    </div>

    <div class="title-buttons">
      <button type="button" class="add-favorites">
        <span class="material-symbols-outlined"> </span> Favorite
      </button>
    </div>
    <div class="all-info">
      <div class="some-info">
        <p class="occupation">Director, Writer, Producer</p>
        <p class="born">July 26, 1928</p>
        <p class="died">March 7, 1999 (70)</p>
      </div>
      <div class="desc">
        <p>
          Stanley Kubrick was an American film director, producer and
          screenwriter. Widely considered one of the greatest filmmakers of all
          time, his films—almost all of which are adaptations of novels or short
          stories—cover a wide range of genres and feature innovative
          cinematography, dark humor, realistic attention to detail and
          extensive set designs.
        </p>
      </div>
    </div>

    <h2 class="photos">Photos</h2>
    <div class="all-photos">
      <div class="first-col">
        <img src="../assets/img/kurbrick.jpg" />

        <img src="../assets/img/kubrick-standing.jpg" />
      </div>
      <div class="second-col">
        <img src="../assets/img/kubrick-camera.jpg" />
        <img src="../assets/img/kubrick-side.jpg" />
      </div>
    </div>
    <h2 class="known-for">
      2001: A Space Odyssey, Barry Lindon, A Clockwork Orange, Full Metal
      Jacket, Eyes Wide Shut, The Shining
    </h2>

    <h2 class="biography">Biography</h2>
    <div class="biography-text">
      <p>
        Stanley Kubrick was born in Manhattan, New York City, to Sadie Gertrude
        (Perveler) and Jacob Leonard Kubrick, a physician. His family were
        Jewish immigrants (from Austria, Romania, and Russia). Stanley was
        considered intelligent, despite poor grades at school. Hoping that a
        change of scenery would produce better academic performance, Kubrick's
        father sent him in 1940 to Pasadena, California, to stay with his uncle,
        Martin Perveler. Returning to the Bronx in 1941 for his last year of
        grammar school, there seemed to be little change in his attitude or his
        results. Hoping to find something to interest his son, Jack introduced
        Stanley to chess, with the desired result. Kubrick took to the game
        passionately, and quickly became a skilled player. Chess would become an
        important device for Kubrick in later years, often as a tool for dealing
        with recalcitrant actors, but also as an artistic motif in his films.
      </p>
      <p>
        Jack Kubrick's decision to give his son a camera for his thirteenth
        birthday would be an even wiser move: Kubrick became an avid
        photographer, and would often make trips around New York taking
        photographs which he would develop in a friend's darkroom. After selling
        an unsolicited photograph to Look Magazine, Kubrick began to associate
        with their staff photographers, and at the age of seventeen was offered
        a job as an apprentice photographer.
      </p>
      <p>
        In the next few years, Kubrick had regular assignments for "Look", and
        would become a voracious movie-goer. Together with friend Alexander
        Singer, Kubrick planned a move into film, and in 1950 sank his savings
        into making the documentary Day of the Fight (1951). This was followed
        by several short commissioned documentaries (Flying Padre (1951), and
        (The Seafarers (1953), but by attracting investors and hustling chess
        games in Central Park, Kubrick was able to make Fear and Desire (1953)
        in California.
      </p>
      <p>
        Filming this movie was not a happy experience; Kubrick's marriage to
        high school sweetheart Toba Metz did not survive the shooting. Despite
        mixed reviews for the film itself, Kubrick received good notices for his
        obvious directorial talents. Kubrick's next two films Killer's Kiss
        (1955) and The Killing (1956) brought him to the attention of Hollywood,
        and in 1957 he directed Kirk Douglas in Paths of Glory (1957). Douglas
        later called upon Kubrick to take over the production of Spartacus
        (1960), by some accounts hoping that Kubrick would be daunted by the
        scale of the project and would thus be accommodating. This was not the
        case, however: Kubrick took charge of the project, imposing his ideas
        and standards on the film. Many crew members were upset by his style:
        cinematographer Russell Metty complained to producers that Kubrick was
        taking over his job. Kubrick's response was to tell him to sit there and
        do nothing. Metty complied, and ironically was awarded the Academy Award
        for his cinematography.
      </p>
      <p>
        Kubrick's next project was to direct Marlon Brando in One-Eyed Jacks
        (1961), but negotiations broke down and Brando himself ended up
        directing the film himself. Disenchanted with Hollywood and after
        another failed marriage, Kubrick moved permanently to England, from
        where he would make all of his subsequent films. Despite having obtained
        a pilot's license, Kubrick was rumored to be afraid of flying.
      </p>
      <p>
        Kubrick's first UK film was Lolita (1962), which was carefully
        constructed and guided so as to not offend the censorship boards which
        at the time had the power to severely damage the commercial success of a
        film. Dr. Strangelove or: How I Learned to Stop Worrying and Love the
        Bomb (1964) was a big risk for Kubrick; before this, "nuclear" was not
        considered a subject for comedy. Originally written as a drama, Kubrick
        decided that too many of the ideas he had written were just too funny to
        be taken seriously. The film's critical and commercial success allowed
        Kubrick the financial and artistic freedom to work on any project he
        desired. Around this time, Kubrick's focus diversified and he would
        always have several projects in various stages of development: "Blue
        Moon" (a story about Hollywood's first pornographic feature film),
        "Napoleon" (an epic historical biography, abandoned after studio losses
        on similar projects), "Wartime Lies" (based on the novel by Louis
        Begley), and "Rhapsody" (a psycho-sexual thriller).
      </p>
      <p>
        The next film he completed was a collaboration with sci-fi author Arthur
        C. Clarke. 2001: A Space Odyssey (1968) is hailed by many as the best
        ever made; an instant cult favorite, it has set the standard and tone
        for many science fiction films that followed. Kubrick followed this with
        A Clockwork Orange (1971), which rivaled Lolita (1962) for the
        controversy it generated - this time not only for its portrayal of sex,
        but also of violence. Barry Lyndon (1975) would prove a turning point in
        both his professional and private lives. His unrelenting demands of
        commitment and perfection of cast and crew had by now become legendary.
        Actors would be required to perform dozens of takes with no breaks.
        Filming a story in Ireland involving military, Kubrick received reports
        that the IRA had declared him a possible target. Production was promptly
        moved out of the country, and Kubrick's desire for privacy and security
        resulted in him being considered a recluse ever since.
      </p>
      <p>
        Having turned down directing a sequel to The Exorcist (1973), Kubrick
        made his own horror film: The Shining (1980). Again, rumors circulated
        of demands made upon actors and crew. Stephen King (whose novel the film
        was based upon) reportedly didn't like Kubrick's adaptation (indeed, he
        would later write his own screenplay which was filmed as The Shining
        (1997).)
      </p>
      <p>
        Kubrick's subsequent work has been well spaced: it was seven years
        before Full Metal Jacket (1987) was released. By this time, Kubrick was
        married with children and had extensively remodeled his house. Seen by
        one critic as the dark side to the humanist story of Platoon (1986),
        Full Metal Jacket (1987) continued Kubrick's legacy of solid critical
        acclaim, and profit at the box office.
      </p>
      <p>
        In the 1990s, Kubrick began an on-again/off-again collaboration with
        Brian Aldiss on a new science fiction film called "Artificial
        Intelligence (AI)", but progress was very slow, and was backgrounded
        until special effects technology was up to the standard the Kubrick
        wanted.
      </p>
      <p>
        Kubrick returned to his in-development projects, but encountered a
        number of problems: "Napoleon" was completely dead, and "Wartime Lies"
        (now called "The Aryan Papers") was abandoned when Steven Spielberg
        announced he would direct Schindler's List (1993), which covered much of
        the same material.
      </p>
      <p>
        While pre-production work on "AI" crawled along, Kubrick combined
        "Rhapsody" and "Blue Movie" and officially announced his next project as
        Eyes Wide Shut (1999), starring the then-married Tom Cruise and Nicole
        Kidman. After two years of production under unprecedented security and
        privacy, the film was released to a typically polarized critical and
        public reception; Kubrick claimed it was his best film to date.
      </p>
      <p>
        Special effects technology had matured rapidly in the meantime, and
        Kubrick immediately began active work on A.I. Artificial Intelligence
        (2001), but tragically suffered a fatal heart attack in his sleep on
        March 7th, 1999.
      </p>
      <p>
        After Kubrick's death, Spielberg revealed that the two of them were
        friends that frequently communicated discreetly about the art of
        filmmaking; both had a large degree of mutual respect for each other's
        work. "AI" was frequently discussed; Kubrick even suggested that
        Spielberg should direct it as it was more his type of project. Based on
        this relationship, Spielberg took over as the film's director and
        completed the last Kubrick project.
      </p>
      <p>
        How much of Kubrick's vision remains in the finished project -- and what
        he would think of the film as eventually released -- will be the final
        great unanswerable mysteries in the life of this talented and private
        filmmaker.
      </p>
    </div>
    <div class="get-top">
      <button class="get-started" type="button">Get Started</button>
      <span class="back-to-top"><a href="#">Back to Top</a></span>
    </div>
    <footer>
      <div class="footer-container">
        <img src="../assets/img/Text.png" class="logo-text" />
        <img src="../assets/img/Footer Logo.png" class="footer-logo" />
        <div class="icons">
          <a href="https://www.facebook.com/edin.e.bajric/" target="_blank"
            ><img src="../assets/img/facebook-fill.png" class="facebook"
          /></a>

          <a href="https://www.instagram.com/pacdoe/" target="_blank">
            <img src="../assets/img/instagram-fill.png" class="instagram" /></a
          ><a
            href="https://www.linkedin.com/in/edin-bajri%C4%87-1a3493269/"
            target="_blank"
            ><img src="../assets/img/linkedin-box-fill.png" class="linkedin"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
<script src="../assets/js/index.js"></script>
