<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Oswald:300,400,600"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Silver Screen Society</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/single-movie-page-styles.css" />
  </head>

  <body>
    <nav>
      <div class="container">
        <img class="logo" src="../assets/img/Logo.png" alt="logo" />
        <form class="search">
          <input type="text" placeholder="Search movies or directors" />
          <button type="submit">
            <span class="material-symbols-outlined"> search </span>
          </button>
        </form>
        <div class="menu">
          <a href="#" class="movies-page">Movies</a>
            <a href="#" class="directors-page">Directors</a>
            <a href="#" class="watchlist-page">Watchlist</a>
            <a href="#" class="favorites-movies-page">Favorites</a>
          <a href="#" class="register-page">Register</a>
          <a href="#" class="login-page">Sign in</a>
        </div>

        <button class="hamburger">
          <span></span><span></span><span></span>
        </button>
      </div>
    </nav>
    <div class="mobile-menu">
      
      <a href="#" class="movies-page-mobile">Movies</a>
        <a href="#" class="directors-page-mobile">Directors</a>
        <a href="#" class="watchlist-page-mobile">Watchlist</a>
        <a href="#" class="favorites-movies-page-mobile">Favorites</a>
      <a href="#" class="register-page-mobile">Register</a>
      <a href="#" class="login-page-mobile">Sign in</a>
      <form class="mobile-search">
        <input type="text" placeholder="Search movies or directors"/>
        <button type="submit">
          <span class="material-symbols-outlined"> search </span>
        </button>
      </form>
  </div>
  <div class="top-info">
    <p>2023</p>
    <p>1h 32m</p>
    <p>Movie rating: 7.3 <span class="material-symbols-outlined rating"> star </span></p>
     <button type="button" class="add-rating">
        <span class="material-symbols-outlined rate"> star </span> Rate
      </button>
  </div>
    <div class="top-part">
      <img
        class="top-pic"
        src="../assets/img/mario-title-pic.jpg"
        alt="top-pic"
      />
      <h1 class="slogan">The Super Mario Bros. Movie</h1>
    </div>

    <div class="title-buttons">
    <div class="for-trailer">
        <a href="https://www.youtube.com/watch?v=TnGl01FkMMo" class="youtube" target="_blank"><button type="button" class="play-trailer">
            <span class="material-symbols-outlined rate"> play_arrow </span> Play trailer
          </button></a>
    </div>
    <div class="favorite-watchlist">
        <button type="button" class="add-favorites">
            <span class="material-symbols-outlined">  </span> Favorite
          </button>
          <button type="button" class="add-watchlist">
            <span class="material-symbols-outlined">  </span> Watchlist
          </button>
    </div>
</div>
<div class="all-info">
    <div class="some-info">
          <p class="genre">Animation, Adventure, Comedy</p>
          <p class="directors">Aaron Horvath, Michael Jelenic, Pierre Leduc</p>
          <p class="writers">Matthew Fogel</p>
          <p class="stars">Chris Pratt, Anya Taylor-Joy, Charlie Day</p>
        </div>
          <div class="desc">
            <p>
                The story of The Super Mario Bros. and their friends on their journey through the
                Mushroom Kingdom
              </p>
          </div>
</div>

<h2 class="photos">Photos</h2>
<div class="all-photos">
    
    <div class="first-col">
        <img src="../assets/img/mario-peach.jpg">
        
        <img src="../assets/img/mario-back-level.jpg">
    </div>
    <div class="second-col">
        <img src="../assets/img/mario-back-castle.jpg">
        <img src="../assets/img/mario-cart.jpg">
        
    </div>
</div>
<div class="comment-sort">
  <h2 class="comments">Comments</h2>
  <h2 class="sort">Sort By:</h2>
</div>

<div class="all-comments">
<div class="first-comment">
    <div class="comment-info">
        <span class=" account">
            </span>
            <p class="comment-by-e">Comment by </p>
            <p class="user-rating">User rating: 9.8 <span class="material-symbols-outlined rating"> star </span> </p>
    </div>
    <div class="comment-contents">
        <p>The Super Mario Bros. Movie is amazing! I had so much fun watching it. The cast is great and the animations are awesome. I’ll definitely rewatch it!</p>
    </div>
</div>
<div class="second-comment">
    <div class="comment-info">
        <span class="account">
            
            </span>
            <p class="comment-by-i">Comment by </p>
            <p class="user-rating">User rating: 2.1 <span class="material-symbols-outlined rating"> star </span> </p>
    </div>
    <div class="comment-contents">
        <p>The Super Mario Bros. Movie is awful! I had absolutely no fun watching it. The cast is terrible and the animations are dreadful. I'll definitely never rewatch it!</p>
    </div>
</div>
</div>

<button type="button" class="add-comment">
    <span class="material-symbols-outlined"> add </span> Comment
  </button>
    <div class="get-top">
      <button class="get-started" type="button">Get Started</button>
      <span class="back-to-top"><a href="#">Back to Top</a></span>
    </div>
    <footer>
      <div class="footer-container">
        <img src="../assets/img/Text.png" class="logo-text" />
        <img src="../assets/img/Footer Logo.png" class="footer-logo" />
        <div class="icons">
          <a href="https://www.facebook.com/edin.e.bajric/" target="_blank"
            ><img src="../assets/img/facebook-fill.png" class="facebook"
          /></a>

          <a href="https://www.instagram.com/pacdoe/" target="_blank">
            <img src="../assets/img/instagram-fill.png" class="instagram" /></a
          ><a
            href="https://www.linkedin.com/in/edin-bajri%C4%87-1a3493269/"
            target="_blank"
            ><img src="../assets/img/linkedin-box-fill.png" class="linkedin"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
<script src="../assets/js/index.js"></script>
