* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #77c3ec;
  padding-left: 32px;
padding-right: 32px;
}

.logo {
width: 180px;
height: 86px;
cursor: pointer;
}

.search {
  width: 300px;
  height: 40px;
  padding: 10px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 50px;
  transition: 0.3s;
}

.search:hover {
  background-color: #dcdcdc;
}

.search input {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 10px;
  color: #1e1e1e;
}

.search input::placeholder {
  font-family: "Oswald";
  font-weight: 300;
  font-size: 16px;
}

.search button {
  border: none;
  background: transparent;
  height: 24px;
}

.material-symbols-outlined {
  color: #1e1e1e;
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.hamburger {
  display: none;
  position: relative;

  z-index: 1;
  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: #1e1e1e;
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;

  transition: 0.3s; 
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: white;
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span{
  background-color: #1e1e1e;
}

.menu {
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
}

.menu a {
  font-family: Oswald;
font-weight: 600;
font-size: 20px;
  color: #1e1e1e;
  margin: 0 16px;
  text-decoration: none;
  transition: 0.3s;
  padding: 8px 16px;
  
}

.menu a.is-active, .menu a:hover {
  color:white;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;

  padding-top: 6rem;
  opacity: 0; 
  transform: translateY(-100%);
  background-color: #77c3ec;
  color: black;
  transition: 0.3s;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  display: block;
  padding: 1rem;
  color: #1e1e1e;
  text-align: center;
  text-decoration: none;
  font-family: Oswald;
font-weight: 600;
font-size: 32px;
  transition: 0.3s;
}

.mobile-menu a:hover {
  color: white;
  background-color: #1e1e1e;
}

.mobile-search {
position: absolute;
left: 50%;
transform: translateX(-50%);
display: flex;
align-items: center;
justify-content: center;
width: 300px;
height: 40px;
padding: 10px;
background: white;
border-radius: 50px;
transition: 0.3s;
}


.mobile-search input {
font-family: "Oswald";
font-weight: 400;
font-size: 16px;
background: transparent;
flex: 1;
border: none;
outline: none;
padding: 10px 10px;
color: #1e1e1e;
}

.search input::placeholder {
font-family: "Oswald";
font-weight: 300;
font-size: 16px;
}

.mobile-search button {
border: none;
background: transparent;
height: 24px;
}

.menu .movies-page {
  color: white;
}

.top-pic {
  object-fit: cover;
  width: 100%;
  height: 550px;
}

.top-part {
  height: 550px;
  position: relative;
}

.slogan {
  width: 100%;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 96px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.most-popular {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 32px;
  width: 240px;
  position: relative;
  color: white;
  bottom: 175px;
  left: 32px;
}

.movie-side-scroll-container {
  height: 471px;
  position: relative;
  top: -100px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 357px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
}

.card {
  width: 325px;
  height: 450px;
  background-color: white;
  border-radius: 8px;
  margin-left: 32px;
  padding: 16px;
  transition: 0.3s;
}

.movie-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 8px;
}

.movie-image:hover {
  opacity: 80%;
  cursor: pointer;
}

.container-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 30%;
  background-color: white;
  border-radius: 0 0 8px 8px;
  transition: 0.3s;
}

.movie-title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
}

.for-buttons {
  display: flex;
  justify-content: space-between;
}

.add-favorites {
  width: 140px;
  height: 42px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 24px;
  border: none;
  background-color: white;
  color: #1e1e1e;
  cursor: pointer;
  transition: 0.3s;
}

.add-favorites span::before {
  content: "favorite";
}

.add-favorites:hover {
  background-color: #dcdcdc;
}

.add-favorites:active {
  background-color: #bdbdbd;
}

.add-favorites.clicked {
  background-color: #77c3ec;
}

.add-favorites.clicked span::before {
  content: "favorite";
  font-variation-settings: "FILL" 1;
}

.add-watchlist {
  width: 140px;
  height: 42px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 24px;
  border: none;
  background-color: white;
  color: #1e1e1e;
  cursor: pointer;
  transition: 0.3s;
}

.add-watchlist span::before {
  content: "add";
}

.add-watchlist:hover {
  background-color: #dcdcdc;
}

.add-watchlist:active {
  background-color: #bdbdbd;
}

.add-watchlist.clicked {
  background-color: #77c3ec;
}

.add-watchlist.clicked span::before {
  content: "check";
}

.all-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 32px;
  width: 240px;
  position: relative;
  color: white;
  bottom: 50px;
  left: 32px;
}

.sort {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 32px;
  position: relative;
  color: white;
  bottom: 50px;
  right: 32px;
}

.sort::after {
  content: " Latest";
  color: #77c3ec;
  cursor: pointer;
}

.sort:hover::after {
  color: white;
}

.sort.clicker::after {
  content: " A-z";
}

.grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  margin-right: 60px;
}

@media (max-width: 991px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid .card {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #dcdcdc;
}

::-webkit-scrollbar-thumb {
  background: #77c3ec;
  border: .2em solid #dcdcdc;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #1779b2;
}

::-webkit-scrollbar-thumb:active {
  background: #146190;
}

.get-top {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  top: 32px;
}

.get-started {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  width: 325px;
  height: 40px;
  position: relative;
  left: 32px;
  border-radius: 50px;
  color: #1e1e1e;
  background: #77c3ec;
  transition: all 0.3s ease 0s;
  outline: none;
  border: none;
}

.get-started:hover {
  background-color: #1779b2;
}

.get-started:active {
  background-color: #146190;
}

.back-to-top {
  padding: 32px;
}

.back-to-top a {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}

.back-to-top a:hover {
  color: #dcdcdc;
}

.back-to-top:active {
  color: #bdbdbd;
}

.numbers {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  cursor: pointer;
}

.number {
  color: white;
}

.number.selected {
  color: #77c3ec;
}

.footer-container {
  max-width: 1280px;
  height: 100px;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding-left: 32px;
  padding-right: 32px;
}

.logo-text {
  width: 248px;
  height: 47px;
  cursor: pointer;
}

.footer-logo {
  width: 64px;
  height: 63px;
  cursor: pointer;
}

.icons img {
  width: 32px;
  height: 32px;
  margin: 16px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .hamburger,
  .mobile-menu {
    display: block;
  }
  .menu,
  .search {
    display: none;
  }
  nav {
    padding-left: 0px;
  }
  .slogan {
    font-size: 48px;
  }
  .col .movie-image { 
    height: 200px;
  }
  .all, .sort, .most-popular {
    font-size: 24px;
  }
  .sort:hover::after {
    color: #77c3ec;
  }
  .get-top {
    flex-direction: column;
  }
  .get-started {
    left: 0;
  }
  .footer-container {
    flex-direction: column;
  }
}